.card {
  position: relative; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg"); }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.grid {
  margin: 0;
  padding: 0px; }

.grid__item {
  margin: 0.5%;
  padding: 0.8em;
  border-radius: 4px;
  background: color-1;
  border: 1px solid #f1f1f1;
  color: color-2;
  font-size: 1.5em;
  text-align: left;
  position: relative; }

.grid__item:hover {
  background: #fafafa; }

.appliance:hover {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.grid__item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.is-dragging {
  background: #575e5a; }

.is-active {
  z-index: 100; }

.is-dropped {
  opacity: 0;
  -webkit-transform: scale3d(0.7, 0.7, 1) !important;
  transform: scale3d(0.7, 0.7, 1) !important; }

.is-complete {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
  transition: opacity 0.3s, transform 0.3s !important;
  -webkit-transform: scale3d(1, 1, 1) !important;
  transform: scale3d(1, 1, 1) !important; }

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.drop-area {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 99;
  width: 100%;
  width: calc(100% + 20px);
  height: 100%;
  background: #FFF;
  text-align: center;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

.drop-area.show {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.drop-area > div {
  width: 100%;
  width: calc(100% - 20px);
  padding: 2em 2em 5em;
  -webkit-transition: -webkit-transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0); }

.drop-area.show > div {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.drop-area__item {
  position: relative;
  display: inline-block;
  margin: 0.4em 0;
  width: 100%;
  max-width: 30em;
  height: 3em;
  padding: 0.3em 0.5em;
  background: #fafafa;
  border: 1px solid #f1f1f1;
  color: #919f97;
  font-size: 1.5em;
  text-align: left;
  padding: 0.9em 1em;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s, color 0.3s;
  transition: transform 0.3s, background 0.3s, color 0.3s; }

.drop-area__item.highlight {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1); }

/*
.drop-area__item::before {
	content: '';
	position: absolute;
	top: 0.3em;
	left: 3.25em;
	bottom: 0.3em;
	right: 0.3em;
	background: rgba(75,136,102,0.1);
	border-radius: 4px;
}
*/
.drop-area__item::after {
  position: absolute;
  top: 0;
  right: 0;
  font-family: FontAwesome;
  pointer-events: none;
  color: #62b989;
  content: '\f00c';
  font-size: 1.75em;
  margin: 0.35em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1); }

.drop-feedback.drop-area__item::after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.dummy {
  margin: 1em auto 2.5em;
  width: 50%;
  max-width: 30em;
  height: 1.5em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 1.5em 0 -0.6em rgba(0, 0, 0, 0.1); }

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none; }

.drop-area.show + .drop-overlay {
  opacity: 1; }

.helper {
  position: absolute !important;
  margin: 0; }

@media screen and (max-width: 50em) {
  .grid__item {
    font-size: 1.5em; }

  .drop-area {
    font-size: 0.8em; } }
@media screen and (max-width: 25.5em) {
  .grid {
    padding: 0 2em; }

  .grid__item {
    font-size: 1em; } }
.cd-nav .cd-primary-nav {
  margin-top: 40px; }
  .cd-nav .cd-primary-nav h3 {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: "Montserrat", sans-serif;
    color: #ccc; }
  .cd-nav .cd-primary-nav ul li {
    margin: 0.5em 0; }
    .cd-nav .cd-primary-nav ul li a {
      color: #333;
      display: inline-block;
      font-size: 1.3em;
      text-decoration: none;
      margin: 0.6em 0; }
      .cd-nav .cd-primary-nav ul li a.selected {
        color: #333; }
      .no-touch .cd-nav .cd-primary-nav ul li a:hover {
        color: #333; }
.cd-nav .cd-contact-info {
  margin-top: 30px;
  text-align: right;
  padding: 25px 0;
  float: right;
  background: white;
  border-radius: 3px;
  width: 360px;
  min-height: 500px; }
  .cd-nav .cd-contact-info p {
    font-family: "Montserrat", sans-serif; }
  .cd-nav .cd-contact-info a {
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px dotted #333; }
  .cd-nav .cd-contact-info p, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info address {
    margin: 20px 40px; }
  .cd-nav .cd-contact-info span {
    display: block;
    color: #666; }

.no-js main {
  height: auto;
  overflow: visible; }

.no-js .cd-nav {
  position: static;
  visibility: visible; }
  .no-js .cd-nav .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

html .navigation-is-open .bar {
  -webkit-transform: initial !important;
  transform: initial; }
  html .navigation-is-open .bar:hover .cd-nav-icon::after {
    top: 0px; }
  html .navigation-is-open .bar:hover .cd-nav-icon::before {
    top: 0px; }
  html .navigation-is-open .bar .cd-nav-trigger:hover circle {
    fill: #201C23; }

.cd-half-block {
  display: inline-block;
  max-width: 50%; }

.navigation {
  position: relative;
  width: 72px;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  border-right: 1px solid #f1f1f1;
  float: left; }

.cd-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
  z-index: 1;
  border-right: 1px solid #f1f1f1; }
  .cd-panel::after {
    /* overlay layer */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s; }
  .cd-panel::after, .cd-panel::before {
    content: ''; }
  .cd-panel.is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .cd-panel.is-visible::after {
      background: rgba(0, 0, 0, 0.6);
      -webkit-transition: background 0.3s 0s;
      -moz-transition: background 0.3s 0s;
      transition: background 0.3s 0s; }
    .cd-panel.is-visible .cd-panel-close::before {
      -webkit-animation: cd-close-1 0.6s 0.3s;
      -moz-animation: cd-close-1 0.6s 0.3s;
      animation: cd-close-1 0.6s 0.3s; }
    .cd-panel.is-visible .cd-panel-close::after {
      -webkit-animation: cd-close-2 0.6s 0.3s;
      -moz-animation: cd-close-2 0.6s 0.3s;
      animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg); } }
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(45deg); } }
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); } }
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg); } }
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(-45deg); } }
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); } }
.cd-panel-header {
  position: absolute;
  width: 90%;
  height: 50px;
  line-height: 50px;
  z-index: 2;
  background-color: #fff;
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s; }
  .cd-panel-header h2 {
    padding-left: 5%;
    font-size: 1.5em;
    font-weight: 100; }
  .from-right .cd-panel-header, .from-left .cd-panel-header {
    top: -50px; }
  .from-right .cd-panel-header {
    right: 0; }
  .from-left .cd-panel-header {
    left: 0; }
  .is-visible .cd-panel-header {
    top: 0;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s; }
  @media only screen and (min-width: 768px) {
    .cd-panel-header {
      width: 70%; } }
  @media only screen and (min-width: 1170px) {
    .cd-panel-header {
      width: 50%; } }

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  color: #333;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
  .cd-panel-close::after, .cd-panel-close::before {
    content: ''; }
  .cd-panel-close::before, .cd-panel-close::after {
    /* close icon created in CSS */
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #333;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-panel-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .cd-panel-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .no-touch .cd-panel-close:hover {
    background-color: #333; }
    .no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
      background-color: #ffffff;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .no-touch .cd-panel-close:hover::before {
      -webkit-transform: rotate(220deg);
      -moz-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
      -o-transform: rotate(220deg);
      transform: rotate(220deg); }
    .no-touch .cd-panel-close:hover::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }

.cd-panel-container {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  background: #FFF;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; }
  .from-right .cd-panel-container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .from-left .cd-panel-container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }
  @media only screen and (min-width: 768px) {
    .cd-panel-container {
      width: 70%; } }
  @media only screen and (min-width: 1170px) {
    .cd-panel-container {
      width: 50%; } }

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 250px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch; }
  .cd-panel-content p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #333;
    line-height: 1.4;
    margin: 2em 0; }
    .cd-panel-content p:first-of-type {
      margin-top: 0; }
  @media only screen and (min-width: 768px) {
    .cd-panel-content p {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.6; } }

/* --------------------------------

Main Components

-------------------------------- */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-weight: 200; }

main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 200px 5%;
  background-color: #9cb3a8;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); }
  main p {
    font-family: "Montserrat", sans-serif;
    color: #d6dfdb;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.6; }
  .navigation-is-open main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  @media only screen and (min-width: 768px) {
    main {
      padding: 250px 10%; }
      main h1 {
        font-size: 3.6rem; }
      main p {
        font-size: 2rem; } }

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 10px;
  top: 10px;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #333; }
    .cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
      -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
      transition: transform 0.5s, width 0.5s, top 0.3s; }
    .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px; }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px; }
  .cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0; }
  .cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s; }
  .navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      /* animate arrow --> from hamburger to arrow */
      width: 50%;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s;
      -moz-transition: -moz-transform 0.5s, width 0.5s;
      transition: transform 0.5s, width 0.5s; }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
      top: 0; }
    .navigation-is-open .cd-nav-trigger circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.4s 0.3s;
      -moz-transition: stroke-dashoffset 0.4s 0.3s;
      transition: stroke-dashoffset 0.4s 0.3s; }

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s; }
  .cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); }
  .navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .navigation-is-open .cd-nav .cd-navigation-wrapper {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }

.no-js main {
  height: auto;
  overflow: visible; }

.no-js .cd-nav {
  position: static;
  visibility: visible; }
  .no-js .cd-nav .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.app_name {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.status_online, .status_active {
  width: 16px;
  height: 16px;
  float: right; }
  .status_online i, .status_active i {
    color: #1D9D1D;
    font-size: 16px; }

.status_inactive {
  width: 16px;
  height: 16px;
  float: right; }
  .status_inactive i {
    color: #ccc;
    font-size: 16px; }

.status_down {
  width: 16px;
  height: 16px;
  float: right; }
  .status_down i {
    color: red;
    font-size: 16px; }

.status_offline {
  width: 16px;
  height: 16px;
  float: right; }
  .status_offline i {
    color: #8DA2A8;
    font-size: 16px; }

.actions-list__option.j-selected {
  background-color: #E5F7E5;
  position: relative; }

.actions-list__option.j-focused:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  border: 1px solid #AED5A8;
  border-radius: 4px; }

.menu {
  float: right;
  display: inline-block; }
  .menu .dropit-trigger a i {
    width: 30px;
    text-align: right; }

#content {
  position: relative; }

#mapContainer {
  height: 100%;
  width: calc( 100% - 372px);
  display: inline-block;
  position: relative;
  z-index: 0; }

#applicationMap {
  width: 100%;
  height: 100%;
  z-index: 0; }

#listPanel {
  display: inline-block;
  float: left;
  position: relative;
  height: 100%;
  width: 300px;
  border-right: 1px solid #f1f1f1; }
  #listPanel header {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    display: block;
    z-index: 1;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    padding: 15px 20px 8px 20px; }
    #listPanel header .selection_count {
      position: relative;
      padding: 0px 0px 15px 0px; }
    #listPanel header #filter-container {
      position: relative; }
      #listPanel header #filter-container #filter_appliances {
        margin: 0;
        background: #fafafa;
        border-radius: 2px;
        border: 1px solid #ddd;
        width: 240px;
        padding: 10px;
        font-size: 12px;
        font-weight: 200;
        display: block;
        margin: 15px 20px 10px 0px; }
      #listPanel header #filter-container .field_help {
        position: absolute;
        right: 8px;
        top: 10px; }
        #listPanel header #filter-container .field_help i.fa-question-circle {
          font-size: 16px;
          color: #ccc;
          position: relative; }
          #listPanel header #filter-container .field_help i.fa-question-circle span {
            display: none;
            background-color: #fff;
            border-radius: 3px;
            left: 18px;
            top: -22px;
            padding: 15px;
            position: absolute;
            font-family: "Source Sans Pro", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
            font-size: 14px;
            color: #333;
            text-shadow: 0 1px 0 #fff;
            width: 220px;
            line-height: 1.5em;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
        #listPanel header #filter-container .field_help i:hover {
          color: #666; }
          #listPanel header #filter-container .field_help i:hover span {
            display: inline-block; }
  #listPanel #list_header {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: "Montserrat", sans-serif;
    color: #666;
    display: inline-block; }
  #listPanel #actions-list {
    height: 100%;
    position: relative;
    padding: 10px 10px 140px 10px;
    margin-top: 102px; }

.selectionState #appliance_header {
  display: none; }
.selectionState #actions-list {
  margin-top: 54px !important; }
.selectionState #selection_header {
  display: block; }

#preloader {
  position: relative; }

#application_status {
  font-family: "Montserrat", sans-serif;
  background-color: #e4e7ec;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 8px;
  margin: 20px 5px 5px 0;
  border-radius: 2px;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #90939a;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  float: right; }

#application_status:hover {
  background-color: #90939a;
  color: #f4f6f8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }

.vpn_status {
  text-transform: uppercase;
  font-size: 9px;
  font-family: "Montserrat", sans-serif;
  color: #666;
  display: block; }
